<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://cxf.apache.org/jaxws
	http://cxf.apache.org/schemas/jaxws.xsd
	">
	
	<!-- 配置cxf 
		地址	http://127.0.0.1:8092/ws/languageService
		服务类
		服务实现类
		拦截器
	-->
	<!-- <jaxws:server address="/languageService" serviceClass="test.LanguageService" >
		<jaxws:serviceBean>
            <bean class="test.LanguageServiceImpl" />
        </jaxws:serviceBean>
		配置拦截器
		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingInInterceptor" />
		</jaxws:inInterceptors>
		<jaxws:outInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingOutInterceptor" />
		</jaxws:outInterceptors>
	</jaxws:server> -->

    <!--sysUserService webService-->
	<jaxws:server address="/sysUserService" serviceClass="com.cl.smm6.system.service.SysUserService" >
		<jaxws:serviceBean>
            <bean class="com.cl.smm6.system.serviceimpl.SysUserServiceImpl" />
        </jaxws:serviceBean>
	</jaxws:server>

	<!--sysLogService webService-->
	<jaxws:server address="sysLogService" serviceClass="com.cl.smm6.system.service.SysLogService" >
		<jaxws:serviceBean>
			<bean class="com.cl.smm6.system.serviceimpl.SysLogServiceImpl" />
		</jaxws:serviceBean>
	</jaxws:server>
</beans>
