<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	">

	<!-- 任务明细bean对石英任务包装 -->
	<bean id="jobDetailBean" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.cl.smm6.common.schedule.GenerateLogTableTak" />
		<property name="jobDataAsMap">
			<map>
				<entry key="sysLogService" value-ref="sysLogServiceImpl"/>
			</map>
		</property>
	</bean>
	
	<!-- cron触发器bean,设置任务的调度策略 -->
	<bean id="CronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="jobDetailBean"/>
		<property name="cronExpression">
			<!-- 秒 分 时 天 月 星期 年 -->
			<value>0 0 0 15 * ?</value>
		</property>
	</bean>
	
	<!-- 启动石英任务 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<ref bean="CronTriggerBean"/>
		</property>
	</bean>
</beans>