<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cl.smm6.common.mapper.SysLogMapper" >
  <resultMap id="BaseResultMap" type="com.cl.smm6.common.entity.SysLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="operTime" property="opertime" jdbcType="TIMESTAMP" />
    <result column="operName" property="opername" jdbcType="VARCHAR" />
    <result column="operParams" property="operparams" jdbcType="VARCHAR" />
    <result column="operResult" property="operresult" jdbcType="VARCHAR" />
    <result column="resultMsg" property="resultmsg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, operator, operTime, operName, operParams, operResult, resultMsg
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sys_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cl.smm6.common.entity.SysLog" >
    insert into sys_log (id, operator, operTime,
      operName, operParams, operResult,
      resultMsg)
    values (#{id,jdbcType=INTEGER}, #{operator,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP},
      #{opername,jdbcType=VARCHAR}, #{operparams,jdbcType=VARCHAR}, #{operresult,jdbcType=VARCHAR},
      #{resultmsg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cl.smm6.common.entity.SysLog" >
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="opertime != null" >
        operTime,
      </if>
      <if test="opername != null" >
        operName,
      </if>
      <if test="operparams != null" >
        operParams,
      </if>
      <if test="operresult != null" >
        operResult,
      </if>
      <if test="resultmsg != null" >
        resultMsg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null" >
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="opername != null" >
        #{opername,jdbcType=VARCHAR},
      </if>
      <if test="operparams != null" >
        #{operparams,jdbcType=VARCHAR},
      </if>
      <if test="operresult != null" >
        #{operresult,jdbcType=VARCHAR},
      </if>
      <if test="resultmsg != null" >
        #{resultmsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cl.smm6.common.entity.SysLog" >
    update sys_log
    <set >
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null" >
        operTime = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="opername != null" >
        operName = #{opername,jdbcType=VARCHAR},
      </if>
      <if test="operparams != null" >
        operParams = #{operparams,jdbcType=VARCHAR},
      </if>
      <if test="operresult != null" >
        operResult = #{operresult,jdbcType=VARCHAR},
      </if>
      <if test="resultmsg != null" >
        resultMsg = #{resultmsg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cl.smm6.common.entity.SysLog" >
    update sys_log
    set operator = #{operator,jdbcType=VARCHAR},
      operTime = #{opertime,jdbcType=TIMESTAMP},
      operName = #{opername,jdbcType=VARCHAR},
      operParams = #{operparams,jdbcType=VARCHAR},
      operResult = #{operresult,jdbcType=VARCHAR},
      resultMsg = #{resultmsg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--根据条件查询日志pageBean-->
  <sql id="searchWhere" >
  </sql>
  <!--根据条件查询符合条件的总记录数-->
  <select id="getTotla" resultType="java.lang.Integer">
    select count(1) FROM
    <foreach collection="logTabNames" index="index" item="tabName" open="(" separator="union" close=")" >
      SELECT * FROM  ${tabName}
      <where>
        <if test="t!=null">
          <include refid="searchWhere" />
        </if>
      </where>
    </foreach>
      a
  </select>


  <!--得到所有-->
  <select id="getLogTabNames" resultType="java.lang.String" >
    show tables LIKE '%sys_log_%'
  </select>

  <!--根据日志表名称拼接查询日志sql并执行-->
  <select id="getTListBySearch" resultType="com.cl.smm6.common.entity.SysLog" >
     select * FROM
     <foreach collection="logTabNames" index="index" item="tabName" open="(" separator="union" close=")" >
       SELECT * FROM  ${tabName}
       <where>
         <if test="t!=null">
          <include refid="searchWhere" />
         </if>
       </where>
     </foreach>
     a ORDER BY operTime desc
    limit #{startIndex},#{rows}
  </select>

  <!--将日志纪录进当月日志表-->
  <insert id="insertD" >
    insert into ${tableName} (id, operator, operTime,
      operName, operParams, operResult,
      resultMsg)
    values (#{t.id,jdbcType=INTEGER}, #{t.operator,jdbcType=VARCHAR}, #{t.opertime,jdbcType=TIMESTAMP},
      #{t.opername,jdbcType=VARCHAR}, #{t.operparams,jdbcType=VARCHAR}, #{t.operresult,jdbcType=VARCHAR},
      #{t.resultmsg,jdbcType=VARCHAR})
  </insert>
</mapper>
