<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cl.smm6.common.mapper.SysRightsMapper" >
  <resultMap id="BaseResultMap" type="com.cl.smm6.common.entity.SysRights" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="righturl" property="righturl" jdbcType="VARCHAR" />
    <result column="rightname" property="rightname" jdbcType="VARCHAR" />
    <result column="rightdesc" property="rightdesc" jdbcType="VARCHAR" />
    <result column="rightpos" property="rightpos" jdbcType="INTEGER" />
    <result column="rightcode" property="rightcode" jdbcType="BIGINT" />
    <result column="common" property="common" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, righturl, rightname, rightdesc, rightpos, rightcode, common
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_rights
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_rights
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cl.smm6.common.entity.SysRights" >
    insert into sys_rights (id, righturl, rightname, 
      rightdesc, rightpos, rightcode, 
      common)
    values (#{id,jdbcType=INTEGER}, #{righturl,jdbcType=VARCHAR}, #{rightname,jdbcType=VARCHAR}, 
      #{rightdesc,jdbcType=VARCHAR}, #{rightpos,jdbcType=INTEGER}, #{rightcode,jdbcType=BIGINT}, 
      #{common,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.cl.smm6.common.entity.SysRights" >
    insert into sys_rights
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="righturl != null" >
        righturl,
      </if>
      <if test="rightname != null" >
        rightname,
      </if>
      <if test="rightdesc != null" >
        rightdesc,
      </if>
      <if test="rightpos != null" >
        rightpos,
      </if>
      <if test="rightcode != null" >
        rightcode,
      </if>
      <if test="common != null" >
        common,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="righturl != null" >
        #{righturl,jdbcType=VARCHAR},
      </if>
      <if test="rightname != null" >
        #{rightname,jdbcType=VARCHAR},
      </if>
      <if test="rightdesc != null" >
        #{rightdesc,jdbcType=VARCHAR},
      </if>
      <if test="rightpos != null" >
        #{rightpos,jdbcType=INTEGER},
      </if>
      <if test="rightcode != null" >
        #{rightcode,jdbcType=BIGINT},
      </if>
      <if test="common != null" >
        #{common,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cl.smm6.common.entity.SysRights" >
    update sys_rights
    <set >
      <if test="righturl != null" >
        righturl = #{righturl,jdbcType=VARCHAR},
      </if>
      <if test="rightname != null" >
        rightname = #{rightname,jdbcType=VARCHAR},
      </if>
      <if test="rightdesc != null" >
        rightdesc = #{rightdesc,jdbcType=VARCHAR},
      </if>
      <if test="rightpos != null" >
        rightpos = #{rightpos,jdbcType=INTEGER},
      </if>
      <if test="rightcode != null" >
        rightcode = #{rightcode,jdbcType=BIGINT},
      </if>
      <if test="common != null" >
        common = #{common,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cl.smm6.common.entity.SysRights" >
    update sys_rights
    set righturl = #{righturl,jdbcType=VARCHAR},
      rightname = #{rightname,jdbcType=VARCHAR},
      rightdesc = #{rightdesc,jdbcType=VARCHAR},
      rightpos = #{rightpos,jdbcType=INTEGER},
      rightcode = #{rightcode,jdbcType=BIGINT},
      common = #{common,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 得到最大权限位 -->
  <select id="getMaxRigthPos" resultType="java.lang.Integer">
      select max(rightpos) from sys_rights;
  </select>

  <!--根据用户id得到其拥有的权限-->
  <resultMap id="resultMap1" type="java.util.Map">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userID" property="userID" jdbcType="INTEGER" />
    <result column="rightID" property="rightID" jdbcType="INTEGER" />
    <result column="righturl" property="righturl" jdbcType="VARCHAR" />
    <result column="rightname" property="rightname" jdbcType="VARCHAR" />
    <result column="rigthdesc" property="rightdesc" jdbcType="VARCHAR" />
    <result column="rightpos" property="rightpos" jdbcType="INTEGER" />
    <result column="rightcode" property="rightcode" jdbcType="INTEGER" />
    <result column="common" property="common" jdbcType="INTEGER" />
  </resultMap>
  <select id="getRightByUser" resultMap="resultMap1">
    SELECT * from sys_user_right sur LEFT JOIN sys_rights sr on sur.rightID=sr.id
    WHERE sr.common='0' and sur.userID =#{uid}
  </select>

  <!--根据用户ids，删除权限-->
  <delete id="delUserRight" parameterType="java.lang.Integer">
   DELETE from sys_user_right WHERE userID in
   <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
     #{item}
   </foreach>
  </delete>

  <!--给这些用户添加这些权限-->
  <insert id="addUserRight" parameterType="java.lang.Integer">
    INSERT INTO sys_user_right(userID,rightID) values
    <foreach collection="rids" index="index1" item="rid" separator=",">
        <foreach collection="uids" index="index2" item="uid" separator=",">
          (#{uid},#{rid})
        </foreach>
    </foreach>
  </insert>

  <sql id="searchWhere" >
    righturl = #{t.righturl}
  </sql>

  <!--根据条件查询符合条件的总记录数-->
  <!--查询满足条件的记录-->
  <select id="getAllRow" resultType="java.lang.Integer">
      SELECT count(1) from sys_rights
      <where>
        <if test="t!=null">
          <include refid="searchWhere" />
        </if>
      </where>
  </select>
  <select id="getTListBySearch" resultMap="resultMap1">
      SELECT * from sys_rights sr left join(
        SELECT smr.rightID as rightID, sm.id as smid,sm.menuName as menuName
          FROM sys_menu_right smr left JOIN sys_menu sm on smr.menuID=sm.id
      ) a on sr.id=a.rightID
      <where>
          <if test="t!=null">
              <include refid="searchWhere" />
          </if>
      </where>
      LIMIT #{startIndex},#{len}
  </select>

  <!--根据url得到权限对象-->
  <select id="getRightByUrl" resultType="com.cl.smm6.common.entity.SysRights">
     select * from sys_rights WHERE righturl=#{righturl}
  </select>

  <!--修改权限所属菜单-->
  <delete id="delMenuRight"   >
    delete from sys_menu_right WHERE rightId in
      <foreach collection="rids" index="index" item="rid" open="(" separator="," close=")">
        #{rid}
      </foreach>
  </delete>
  <insert id="setMenuRgithu" >
     INSERT INTO sys_menu_right(menuID,rightID) VALUES(#{smid},#{rid})
  </insert>
  
  <!--根据用户ids数组删除用户权限-->
  <delete id="deleteRightsByIDs" >
    DELETE from sys_rights WHERE id in
    <foreach collection="rids" index="index" item="rid" open="(" separator="," close=")">
      #{rid}
    </foreach>
  </delete>
  
  <!--查询所以权限-->
  <select id="getAllList" resultType="com.cl.smm6.common.entity.SysRights">
    select * from sys_rights
  </select>

  <!--得到最大权限位及最大权限位上的权限码-->
  <resultMap id="maxPmaxC" type="java.util.Map" >
    <result column="maxP" property="maxP" jdbcType="INTEGER" />
    <result column="maxC" property="maxC" jdbcType="INTEGER" />
  </resultMap>
  <select id="getMaxRPosAndMaxRCode" resultMap="maxPmaxC">
    select max(rightpos) as maxP,max(rightcode) maxC from sys_rights where rightpos=(select max(rightpos) from sys_rights)
  </select>
</mapper>