<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cl.smm6.common.mapper.SysRightsMapper" >
  <resultMap id="BaseResultMap" type="com.cl.smm6.common.entity.SysRights" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="righturl" property="righturl" jdbcType="VARCHAR" />
    <result column="rightname" property="rightname" jdbcType="VARCHAR" />
    <result column="rightdesc" property="rightdesc" jdbcType="VARCHAR" />
    <result column="rightpos" property="rightpos" jdbcType="INTEGER" />
    <result column="rightcode" property="rightcode" jdbcType="BIGINT" />
    <result column="common" property="common" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, righturl, rightname, rightdesc, rightpos, rightcode, common
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_rights
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_rights
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cl.smm6.common.entity.SysRights" >
    insert into sys_rights (id, righturl, rightname, 
      rightdesc, rightpos, rightcode, 
      common)
    values (#{id,jdbcType=INTEGER}, #{righturl,jdbcType=VARCHAR}, #{rightname,jdbcType=VARCHAR}, 
      #{rightdesc,jdbcType=VARCHAR}, #{rightpos,jdbcType=INTEGER}, #{rightcode,jdbcType=BIGINT}, 
      #{common,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.cl.smm6.common.entity.SysRights" >
    insert into sys_rights
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="righturl != null" >
        righturl,
      </if>
      <if test="rightname != null" >
        rightname,
      </if>
      <if test="rightdesc != null" >
        rightdesc,
      </if>
      <if test="rightpos != null" >
        rightpos,
      </if>
      <if test="rightcode != null" >
        rightcode,
      </if>
      <if test="common != null" >
        common,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="righturl != null" >
        #{righturl,jdbcType=VARCHAR},
      </if>
      <if test="rightname != null" >
        #{rightname,jdbcType=VARCHAR},
      </if>
      <if test="rightdesc != null" >
        #{rightdesc,jdbcType=VARCHAR},
      </if>
      <if test="rightpos != null" >
        #{rightpos,jdbcType=INTEGER},
      </if>
      <if test="rightcode != null" >
        #{rightcode,jdbcType=BIGINT},
      </if>
      <if test="common != null" >
        #{common,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cl.smm6.common.entity.SysRights" >
    update sys_rights
    <set >
      <if test="righturl != null" >
        righturl = #{righturl,jdbcType=VARCHAR},
      </if>
      <if test="rightname != null" >
        rightname = #{rightname,jdbcType=VARCHAR},
      </if>
      <if test="rightdesc != null" >
        rightdesc = #{rightdesc,jdbcType=VARCHAR},
      </if>
      <if test="rightpos != null" >
        rightpos = #{rightpos,jdbcType=INTEGER},
      </if>
      <if test="rightcode != null" >
        rightcode = #{rightcode,jdbcType=BIGINT},
      </if>
      <if test="common != null" >
        common = #{common,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cl.smm6.common.entity.SysRights" >
    update sys_rights
    set righturl = #{righturl,jdbcType=VARCHAR},
      rightname = #{rightname,jdbcType=VARCHAR},
      rightdesc = #{rightdesc,jdbcType=VARCHAR},
      rightpos = #{rightpos,jdbcType=INTEGER},
      rightcode = #{rightcode,jdbcType=BIGINT},
      common = #{common,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

	<!-- 得到最大权限位 -->
	<select id="getMaxRigthPos" resultType="java.lang.Integer">
		select max(rightpos) from sys_rights;
	</select>

    <!--根据用户id得到其拥有的权限-->
    <resultMap id="resultMap1" type="java.util.Map">

    </resultMap>
    <select id="getRightByUser" resultMap="resultMap1">
      SELECT * from sys_user_right sur LEFT JOIN sys_rights sr on sur.rightID=sr.id
      WHERE sr.common='0' and sur.userID =#{uid}
    </select>
</mapper>